* {
  color: #222;
  font-family: BebasNeue;
}

h1 {
  width: 100%;
  text-align: center;
}

button {
  cursor: pointer;
}

#main{
  margin: 0px auto;
  margin-bottom: 100px;
  width: 80%;
  display : flex;
  flex-direction: column;
  min-width: 1150px;
  height: 100%;
}

#inventory {
  display : grid;
  grid-template-columns: repeat(5, 1fr);
}

.empty, .filled, .form{
  width: 13em;
  height: 13em;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 2.5px;
}

/***************/
/* Empty Slot  */
/***************/

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('http://tny.im/jia');
  background-size: 100%;
  background-position: center;
  transition: background-size .25s ease-in;
  -moz-transition: background-size .25s ease-in;
  -ms-transition: background-size .25s ease-in;
  -o-transition: background-size .25s ease-in;
  -webkit-transition: background-size .25s ease-in;
}

.empty:hover {
  background-size: 110%;
  background-position: center;
}

.addShoeButton {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
}

.addShoeButton:focus {
  outline: none !important;
}

/***************/
/*** Forms  ****/
/***************/

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  margin-left: 5px;
}

.label {
  font-weight: 700;
}

/****************/
/* FIlled Slot  */
/****************/

.buttons {
  text-align: center;
}