* {
  color: #222;
  font-family: BebasNeue;
}

body{
  display: flex;
  justify-content: center;
}

h1 {
  width: 100%;
  text-align: center;
}

button, input {
  cursor: pointer;
}


#main{
  margin: 0px auto;
  display : flex;
  flex-direction: column;
}

#inventory {
  display: grid;
  grid-template-columns: repeat(5, 13em);
}

.empty, .filled, .form{
  width: 11em;
  height: 12.5em;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 2.5px;
  line-height: 1;
}

/***************/
/* Empty Slot  */
/***************/

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/stockx_logo.jpg');
  background-size: 110%;
  background-position: center;
  transition: background-size .25s ease-in;
  -moz-transition: background-size .25s ease-in;
  -ms-transition: background-size .25s ease-in;
  -o-transition: background-size .25s ease-in;
  -webkit-transition: background-size .25s ease-in;
}

.empty:hover {
  background-size: 120%;
}

.addShoeButton {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
}

.addShoeButton:focus {
  outline: none !important;
}

/***************/
/*** Forms  ****/
/***************/

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  width: 100%;
  padding: 2px;
  border: 1px solid #d6d6d6;
  border-radius: 2.5px;
  margin-bottom: 3px;
}

.submitButton {
  color: white;
  font-weight: 700;
  margin: 3px auto 5px auto;
  border: 4px solid #509e2f;
  background-color: #509e2f;
  position: absolute;
  width: calc(100% - 20px);
  left : 0;
  bottom: 0;
  right: 0;
}


.submitButton:hover{
  border: 4px solid #407e25;
  background-color: #407e25;
}

label{
  font-weight: 700;
}

/****************/
/* FIlled Slot  */
/****************/

.filled {
  position: relative;
  overflow: scroll;
  overflow-wrap: break-word;
}

.buttons {
  margin: 0 auto; 
  display :flex;
  position: absolute;
  width: calc(100% - 20px);
  left: 0;
  bottom: 0;
  right: 0;
}

.buttons button{
  width: 48%;
  margin: 5%;
  color: white;
  font-weight: 700;
  margin: 3px auto 5px auto;
  border: 4px solid #509e2f;
  background-color: #509e2f;
  border-radius: 2.5px;
}

.buttons button:hover{
  border: 4px solid #407e25;
  background-color: #407e25;
}

.info, h4{
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}